### Ignore config files ###
src/main/resources/application.properties
src/main/resources/application.yml
src/main/resources/application-*.properties


### Ignore .gitignore placed in wrong folders ###
src/main/resources/.gitignore

### Eclipse / STS ###
.classpath
.project
.factorypath
.settings/

### IntelliJ IDEA ###
*.iml
.idea/
out/

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### Build ###
bin/

### Logs ###
*.log

### OS Files ###
.DS_Store
Thumbs.db

### Java ###
*.class
